.kids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #dceafd;
    padding: 30px;
    gap: 15px 30px;

    

}
.school{
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
    
    
    
    
    
}
.girl-1{
    grid-column-start: 2;
    grid-column-end: 3;
    &__image{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }
}
.boy{
    grid-column-start: 3;
    grid-column-end: 4;
    &__image{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }
}
.girl-2{
    grid-column-start: 4;
    grid-column-end: 5;
    &__image{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }
}
.start-now{
    grid-column-start: 1;
    grid-column-end: 6;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.link{
    background-color: #24b36b;
    color: white;
    font-size: small;
    border-radius: 100px;
    width: 170px;
    height: 48px;
    padding: 10px 20px;
    font-size: 25px;
}

