<div class="kids">
    <section class="school">
        <h3>¡Prepáralos con tus marcas favoritas!</h3>
        <h1>VUELTA AL COLE</h1>
    </section>
    <section class="girl-1">
        <img class="girl__image" src="./images/lpbts-mod05-img01-desk.png" alt="girlwithpumabag">
        <h2>Mochilas escolares</h2>
    </section>
    <section class="boy">
        <img class="boy__image" src="./images/lpbts-mod05-img04-mob.png" alt="boy">
        <h2>Estuches</h2>
    </section>
    <section class="girl-2">
        <img class="nike__image" src="./images/lpbts-mod05-img03-mob.png" alt="girl">
        <h2>Bolsas de deporte</h2>
    </section>
    <section class="start-now">
        <a class="link" href="https://adalab.es/">Empezar ahora</a>
    </section>


</div>